.category div.container.green-border {
	border-left:150px solid #74b533;
	padding-left: 40px;
}

.category div.container.purple-border {
	border-left:150px solid #AE5199;
	padding-left: 40px;
}

.category div.container.orange-border {
	border-left:150px solid #E88801;
	padding-left: 40px;
}

.category div.container.blue-border {
	border-left:150px solid #4859A4;
	padding-left: 40px;
}

.category div.container.red-border {
	border-left:150px solid #E84234;
	padding-left: 40px;	
}

.category div.container.darkpp-border {
	border-left:150px solid #3C2673;
	padding-left: 40px;
}

.skill-per-category  {
	text-transform: uppercase;
	color:#fff;
	text-align: center;
	
}

.skill-per-category:hover  {
	text-transform: uppercase;
	background-color:#333;
	text-align: center;
}

.skill-per-category a {
	text-transform: uppercase;
	color:#fff;
	text-decoration: none;
}

.category-results .blue:nth-child(3n+1) {
	  background-color: #6D76B7;
}

.category-results .blue:nth-child(5n+2) {
	background-color: #9296CA;
}

.category-results .blue:nth-child(3n+1):hover{
	  background-color: #333;
}

.category-results .blue:nth-child(5n+2):hover {
	background-color: #333;
}

.category-results .orange:nth-child(3n+1) {
	  background-color: #EEA042;
}

.category-results .orange:nth-child(5n+2) {
	background-color: #F3B974;
}

.category-results .orange:nth-child(3n+1):hover{
	  background-color: #333;
}

.category-results .orange:nth-child(5n+2):hover {
	background-color: #333;
}

.category-results .green:nth-child(3n+1) {
	  background-color: #B8D26B;
}

.category-results .green:nth-child(5n+2) {
	background-color: #A7C946;
}

.category-results .green:nth-child(3n+1):hover{
	  background-color: #333;
}

.category-results .green:nth-child(5n+2):hover {
	background-color: #333;
}

.category-results .purple:nth-child(3n+1) {
	  background-color: #BD76AF;
}

.category-results .purple:nth-child(5n+2) {
	background-color: #CC9AC6;
}

.category-results .purple:nth-child(3n+1):hover{
	  background-color: #333;
}

.category-results .purple:nth-child(5n+2):hover {
	background-color: #333;
}

.category-results .red:nth-child(3n+1) {
	  background-color: #ED6F56;
}

.category-results .red:nth-child(5n+2) {
	background-color: #EA5944;
}

.category-results .red:nth-child(3n+1):hover{
	  background-color: #333;
}

.category-results .red:nth-child(5n+2):hover {
	background-color: #333;
}

.category-results .darkpp:nth-child(3n+1) {
	  background-color: #5C4487;
}

.category-results .darkpp:nth-child(5n+2) {
	background-color: #816DA3;
}

.category-results .darkpp:nth-child(3n+1):hover{
	  background-color: #333;
}

.category-results .darkpp:nth-child(5n+2):hover {
	background-color: #333;
}

