
/*  try in sans-serif, we can go back to the serif one bay changing font-family: 'Roboto Slab',serif; */

h1 { 
	font-family: 'Roboto', sans-serif;
	font-weight:700;
}
	
h2 { 
	font-family: 'Roboto', sans-serif;
	font-weight:400;
}

h3 { 
	font-family: 'Roboto', sans-serif;
	font-weight:100;
}	

p{
	font-family:'Roboto', sans-serif;
	font-weight:300;
}



