#mainNavbar {
	border-bottom: 1px solid #eee;
}

.navbar-brand img{
    max-height: 57px;
    margin-top: -7px;
}

.navbar-default {
	height:70px;
	background-color: #fff;
	border-color: transparent;
}

.nav.navbar-nav.navbar-right.loggedin  {
	margin-top: 17px;
}

.navbar-nav.navbar-right > li > a {
	text-transform: uppercase;
	font-weight: bold;
	color: black;
	color: black;
}

.navbar .navbar-default .navbar-fixed-top {
	background-color:#fff;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #333;
    color: #fff;
}

.navbar .dropdown-menu.form-group {
	width: 300px;
	padding: 10px;

}

.navbar .dropdown-menu.form-group .form-control {
	margin-bottom: 5px;
	
}


.navbar .btn.btn-primary {
	border-radius: 0px;
	border-color: transparent;
	color: white;
	background-color: black;
	text-transform: uppercase;
}

.badge {
	margin-right: 10px; 
	margin-left: -20px;
	margin-top: 25px;
	background-color: #74b533;
	font-weight: 500;
}

.navbar-nav .search-container {
	width:auto;
	top: -3px;
	position: relative;
}

.navbar-nav .search-container .fa-search {
	top: 4px;
	position: relative;
}

.navbar-nav .messagerie-logo {
	border-color: transparent;
	background-color: transparent;
	top: -5px;
	position: relative;

}

.form-control-header{
   height: 35px;
   width: 300px;
}

.navbar-nav .research-logo {
	border-color: transparent;
	background-color: transparent;
	height: 43px;
	width: 48px;
	margin: auto;
	padding-bottom: 5px;
}

@media (min-width: 768px) {
	#mainNavbar .navbar-nav>li>a {
		padding-top: 10px;
		padding-bottom: 10px;
	}
}

@media (max-width: 999px) {
	.navbar .container {
		
	}
}

@media (min-width: 1000px) {
	#mainNavbar .showOnMobile {
		display: none;
	}
}

/*overwriting bootstrap*/
@media (max-width: 1000px) {
	#mainNavbar .collapse > .nav {
		display: none;
	}

	#mainNavbar .navbar-header .navbar-toggle {
		display: inline-block;
		float: right;
	}

	#mainNavbar .navbar-header {
		float: none;
	}

	#mainNavbar .collapse.in > .nav{
		display: block;
		visibility: visible;
	}

	#mainNavbar .showOnScreen {
		display: none;
	}

	#mainNavbar .nav.navbar-right {
		float: none!important;
	}

	#mainNavbar .nav>li {
		float: none;
	}
	#mainNavbar .nav>li>a {
		position: relative;
		display: block;
		padding: 10px 15px;
	}


#alerts {
	margin-top: 10px;
}

#header_search{
	border-color: transparent;
	outline: none;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

#header_search{
	border-color: #333;
	border:solid;
	border-width:1px;
	height:43px;
	padding-left: 5px;
}

#header_search:focus{
	background-color: #333;
	color:#fff;
}

.header-search-icon:hover{
	background-color: #333;
	color:#fff;
}