.navbar-brand img{
    max-height: 57px;
    margin-top: -7px;
}

.navbar-default {
	background-color: transparent;
	border-color: transparent;
}

.nav.navbar-nav.navbar-right > li > a {
	text-transform: uppercase;
}

.nav.navbar-nav.navbar-right  {
	margin-top: 17px;
}

.navbar-static-top > button {
	border: transparent;
	margin-top: 60px;
}

.btn.btn-primary {
	border-radius: 0px;
	border-color: transparent;
	color: white;
	background-color: black;
	text-transform: uppercase;
}

.fa-envelope-o {
	height: 20px;
	margin-right: 10px; 
	margin-left: 10px;
	margin-top: -9px;
}

.badge {
	margin-right: 10px; 
	margin-left: -31px;
	margin-top: -9px;
	background-color: #74b533;
	font-weight: 500;
}

.messagerie-logo {
	border-color: transparent;
	background-color: transparent;
}


