.navbar-brand img{
    max-height: 57px;
    margin-top: -7px;
}

.navbar-default {
	height:70px;
	background-color: #fff;
	border-color: transparent;
}

.navbar-nav.navbar-right > li > a {
	text-transform: uppercase;
	font-weight: bold;
	color: black;
	color: black;
}

.navbar .navbar-default .navbar-fixed-top {
	background-color:#fff;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #333;
    color: #fff;
}