.navbar-brand img{
    max-height: 57px;
    margin-top: -7px;
}

.navbar-default {
	background-color: transparent;
	border-color: transparent;
}

.navbar-nav.navbar-right > li > a {
	text-transform: uppercase;
	font-weight: bold;
	color: black;
	color: black;
}


