#info .title>h2{
	color:black;
	font-size: 25px;
}

#info .selection>h1{
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
	font-size: 30px;
	color:#74b533;
}

#info a.title:hover{
	color:black;	
}

#footer a.title:hover{
	color:black;	
}

#footer .list-item a{
	color:black;	
}

ul li h3{
	font-weight: 400;
	font-size: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.info h2{
	padding-top: 30px;
	padding-bottom: 15px;
}

ul{
	list-style-type: none;
}

.info strong{
	font-weight: 400;
	font-size: 25px;
	padding-top: 40px;


}
	
