.jumbotron{
	background-color:white;
	margin-top:60px;
}
	
.search-container{
  width: 300px;
  margin-left:auto;
  margin-right: auto;
}

.details{
   height: 43px;
   border-radius: 0px;
}

.logo img {
    width: 50%;
    height: auto;
}

.space70 {
	margin-top: 70px;
}

.space90 {
	margin-top:90px;
}

.space20 {
	margin-top:20px;
}

.space50 {
	margin-top:50px;
}

.space10 {
	margin-top:10px;
}

#footer {
	margin-top: 70px;
	margin-bottom:70px;
}

#footer .list-inline>li {
  padding-left: 15px;
  padding-right: 15px;
}


.select2-results li.select2-result-with-children > .select2-result-label {
	text-transform: uppercase;
}

.green {
	background-color: #74b533;
}


.purple {
	background-color: #AE5199;
}

.orange {
	background-color: #E88801;
}

.blue {
	background-color: #4859A4;
}

.red {
	background-color: #E84234;	
}

.darkpp {
	background-color: #3C2673;
}

.thumbnail .username{
	padding: 0px;
}

.details{
	border-color: #333;
	border-radius: 0px;
	height:43px;
	background-color: transparent;

}

.details:focus{
	color:#fff;
}

#create_skills_form{
	border-radius: 0px;
}