@charset "UTF-8";
/*@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700);

/* Tried adding google fonts - did not work */
h1 { 
	font-family: 'Roboto Slab', serif;
	font-weight:700;
	}
	
h2 { 
	font-family: 'Roboto Slab', serif;
	font-weight:400;
	}

h3 { 
	font-family: 'Roboto Slab', serif;
	font-weight:100;
	}	

p{
	font-family:'Roboto Slab',serif;
	font-weight:300;
	}
	

