		/* style for message page temporarily here*/
	
.inbox{
	margin-top:100px;
	
	border-color:#333;
	
	}
	
.inbox .requests{
		
		border-color:#333;
		height:400px;
		}
.inbox .conversations{
		background-color: #333;
		height:400px;
		}