.progress-bar {
	height: 100%;
}

.progress {
	height: 40px;
}

.received {
	background-color: #873a7e;
}

.offered {
	background-color: #344485;
}


.thumbnail{
	padding: 0px;
	border: 0px;
}

.fa-leaf {
	color:#74b533;
	margin-left: 10px;
	display:inline;
}

.fa-leaf.black {
	color:#000000;
	margin-left: 10px;
	display:inline;
}

.rating {
	height: 35px;
}

.rating .btn-green {
	background-color: #74b533;
	border: none;
}

.rating li:first-child {
	top: -1px;
	left: 5px;
	position: relative;
	background-color: #74b533;
	height: inherit;
	text-transform: uppercase;
	color: white;
}

.rating li:first-child div{
	height: 100%;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 7px;
}

.rating li > i{
	top: 5px;
	position: relative;
}

.user_skills_list button.close {
	color: white;
	margin-top: 3px;
	margin-right: -5px;
}

.form-group .select2-container {
	width: 100%;
	text-align: left;
}

.form-group .select2-container .select2-choice {
	height: 34px;
	padding-top: 3px;
}

#request_skill_btn{
    	background-color: #fff;
    	color:#333;
    	border-radius: 0px;
    	border-color:#333;
    	margin-left:10px;
    	margin-bottom: 30px;
    	width:100%;
    }

#request_skill_btn:hover{
    	background-color: #333;
    	color:#fff;
    }
