.progress-bar {
	height: 100%;
}

.progress {
	height: 40px;
}

.received {
	background-color: #873a7e;
}

.offered {
	background-color: #344485;
}

.green {
	background-color: #74b533;
}

.thumbnail{
	padding: 0px;
	border: 0px;
}

.fa-leaf {
	color:#74b533;
	margin-left: 10px;
	display:inline;
}

.fa-leaf.black {
	color:#000000;
	margin-left: 10px;
	display:inline;
}


.thumbnail-label {
  position: absolute;      
  bottom: 90px;
  right: 50px;
  left: 50px;
  color:#ffffff;
}
