.skills_categories_list{
	text-align:center;
	color:white;
	text-transform: uppercase;
}
.skills_categories_list .sewing {
	background-color: #95C11E;
	
}

.skills_categories_list .animation {
	background-color: #AE5199;
	
}

.skills_categories_list .graphic_design {
	background-color: #E88801;
	
}

.skills_categories_list .css {
	background-color: #4859A4;
	
}

.jumbotron{
	background-color:white;
	margin-top:60px;}

.container{
	margin:auto;
	text-align:center;}
	
.search-form{
	display:block;
	margin:auto;
	}
	
.search-input{
	width:300px;
	height:500px:
	}