/* Styles colour and text from the skills shown in main page. Colours should repeat in a loop in this order -php?
This is because number of skills doesn't have a limit as users will make more (no personalized color for each skill)*/

.skills_categories_list .skill {
	min-height: 120px;
}

.skills_categories_list{
	text-align:center;
	color:white;
	text-transform: uppercase;
}

.skills_categories_list .default {
	background-color: lightgray;
}

.skills_categories_list .green {
	background-color: #95C11E;
}

.skills_categories_list .green:hover {
	background-color: #333;
}


.skills_categories_list .purple {
	background-color: #AE5199;
}

.skills_categories_list .purple small{
	color: lightgray;
}


.skills_categories_list .purple:hover {
	background-color: #333;
}

.skills_categories_list .orange {
	background-color: #E88801;
}

.skills_categories_list .orange small{
	color: lightgray;
}

.skills_categories_list .orange:hover {
	background-color: #333;
}

.skills_categories_list .blue {
	background-color: #4859A4;
}

.skills_categories_list .blue:hover {
	background-color: #333;
}

.skills_categories_list .red {
	background-color: #E84234;	
}

.skills_categories_list .red small{
	color: lightgray;
}

.skills_categories_list .red:hover {
	background-color: #333;	
}

.skills_categories_list .darkpp {
	background-color: #3C2673;
	
}

.skills_categories_list .darkpp:hover {
	background-color: #333;
}

.skills_categories_list .row a{
	text-decoration:none;
	color:#fff;
	margin-top: auto;
	margin-bottom: auto;
}



.square {
    border: 0px;
}

.index_filters .btn-group {
	margin-left:-15px;
	margin-bottom:20px;
	
	}
	
.index_filters .btn-group>.btn:first-child {
	background-color:#fff;
	color:#333;
	text-transform:uppercase;
	
	}
	
.index_filters .dropdown-menu :hover{
	background-color:#333;
	color:#fff;
	}